@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.rpgui-content p {
    font-size: 1.2em;
  
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.rpgui-icon.small {
    width: 32px;
    height: 32px;
}

body {
    color: #2E2E2E;

    background: url("/img/nebula.png") bottom;
    background-repeat: repeat;
}

#navigation {
    padding-top: 20px;
    padding-bottom: 20px;
}

.centered {
    position: relative;
    min-width: 740px;
    max-width: 900px;
    margin: 0 auto;

    margin-top: 20px;
    margin-bottom: 20px;
}