<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
    {{ block "title" . }}
    {{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Site.Title }} - {{ .Title }} {{ end }}
    {{ end }}
</title>

<meta name="description" content="{{ .Summary }}">
<link rel="stylesheet" href="{{ "css/rpgui.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}?{{ .Site.Params.theme_seconds }}">

<link rel="me" href="https://micro.blog/{{ .Site.Author.username }}" />
<link rel="canonical" href="{{ .Permalink }}">

{{ partial "microblog_head.html" . }}

{{ range .Site.Params.plugins_css }}
<link rel="stylesheet" href="{{ . }}" />
{{ end }}

{{ range $filename := .Site.Params.plugins_html }}
{{ partial $filename $ }}
{{ end }}